.middle h2 {
  font-size: 1.41rem;
}

.search-tab {
  border-radius: 30px;
}
.profile {
  cursor: pointer;
}

.brdr {
  border: 1px solid #616161;
  border-radius: 5px;
  padding: 0 8px;
  color: #616161;
}

.account {
  background-color: #f8f8f8;
  height: 40px;
  width: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  position: absolute;
  right: 2px;
  top: 45px;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
}

/* .sh2 {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
} */

.men {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .men {
    flex-direction: column;
    align-items: flex-start;
  }
}
