@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.chart-container {
  height: 400px;
  background-color: var(--clr-dark-gray);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  align-items: center;
}

.left-part {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 1rem;
}

.headline {
  font-size: 40px;
}

.chart-subtitle {
  font-size: 14px;
  color: #a7a7a7;
  margin-top: 10px;
}

.right-part {
  padding: 30px;
  margin-right: 40px;
}

.legends {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: -25px;
  grid-gap: 10px;
  margin-top: 30px;
}

.small-box {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.45rem;
  margin-left: 10px;
  text-align: left;
}

.box {
  height: 15px;
  width: 15px;
  border-radius: 2px;
  background-color: #ee82ee;
}
.box-title {
  font-size: 13px;
  text-transform: lowercase;
  font-weight: 600;
  margin: 0;
}

.right-part {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px; /* Adjust font size as needed */
  font-weight: bold;
  color: #5b5b5b; /* Adjust color as needed */
}

@media screen and (max-width: 768px) {
  .chart-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem;
  }
  .chart-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 1rem;
  }
  .headline {
    text-align: center;
    font-size: 22px;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 22px;
  }
  .chart-subtitle {
    font-size: 15px;
    margin: 0px 20px;
    text-align: center;
  }
  .legends {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: -25px;
    margin-top: 30px;
  }
  .right-part {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
